* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
}

header {
    width: 100px;
    text-align: center;
    margin: 15px auto;
    background-color: rgb(175, 255, 138);
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    font-weight: bold;
    font-size: 13px;
}

.main-class {
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
    padding: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
    background-color: #ccc;
    margin: 10px auto;
    width:fit-content;
}